
@{
    ViewBag.Title = "About";
}

<h2>About</h2>



    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .card {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
            text-align: center;
        }

            .card img {
                width: 100px;
                height: 100px;
                margin-bottom: 10px;
            }

        h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        p {
            line-height: 1.6;
            color: #666;
        }
    </style>


    <div class="container">
        <div class="card">
            <img src="https://www.gstatic.com/images/branding/product/2x/baseline_cloud_queue_black_18dp.png" alt="Cloud Icon">
            <h2>Online Electronic Health Records</h2>
            <p>Cloud based online electronic health records (EHR) systems that allows you to create, manage patient records easily and securely using just your browser</p>
        </div>
        <div class="card">
            <img src="https://www.gstatic.com/images/branding/product/2x/baseline_folder_black_18dp.png" alt="Folder Icon">
            <h2>Document Management</h2>
            <p>Upload and store your patient and practice documents like handouts, consent forms, x-rays, etc. and go paperless. Group documents into folders and tag them to locate it easily, when you need them</p>
        </div>
        <div class=" card">
            <img src="https://www.gstatic.com/images/branding/product/2x/baseline_security_black_18dp.png" alt="Security Icon">
            <h2>Data Security</h2>
            <p>Our platform ensures that your data is secure with advanced encryption and compliance with healthcare regulations.</p>
        </div>
    </div>

